@import "../../scss/themes";
@import "../../scss/sizes";

.navigation {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99999;
    transition: height $transitionTime, background-color $transitionTime;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.navigation-high {
    height: 140px;
}
.navigation-low {
    @include themify($themes) {
        background-color: rgba(themed("contextColor"), 0.95);
    }

    height: 70px;
    border-radius: 0 0 10px 10px;

    .switch-button-path {
        @include themify($themes) {
            border: 1px solid themed("indicatorColor");
        }
    }
}

.navigation .logo {
    //background-color: red;
    @include themify($themes) {
        color: themed("primaryTextColor");
        text-decoration-color: themed("primaryColor");
    }

    text-decoration-thickness: 3px;
    display: flex;
    align-items: center;
}
.navigation .logo img {
    height: 50px;
}
.navigation .logo .logo-text {
    font-size: $logoTextFontSizeLarge;
    margin-left: 15px;
}

@media only screen and (max-width: 960px) {
    .navigation {
        padding: 0 calc((100% - $containerWidthSmall));
        border-radius: 0 0 $borderRadius1 $borderRadius1;
    }
    .navigation .logo {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 640px) {
    .navigation {
        padding: 0 calc((100% - $containerWidthSmall) / 2);
        border-radius: 0 0 10px 10px;
    }
    .navigation .logo {
        margin-left: 0;
    }
    .navigation .logo img {
        height: 35px;
    }
    .navigation .logo .logo-text {
        font-size: $logoTextFontSizeMedium;
        margin-left: 5px;
    }
}

.switch-button-path {
    @include themify($themes) {
        background-color: themed("elementWrapperBg");
    }

    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 30px;
    padding: 3px;
    border-radius: $borderRadius2;
}

.switch-button-picker {
    @include themify($themes) {
        background-color: themed("primaryTextColor");
    }

    position: absolute;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: $borderRadius2;
    transition: transform 100ms;
    z-index: 1;
    outline: none;
    cursor: grab;
}
.switch-button-picker:focus-visible {
    @include themify($themes) {
        outline: 3px solid themed("primaryColor") !important;
    }
    transition: none;
}
.switch-button-picker:active {
    cursor: grabbing;
}

.switch-button-option {
    width: 33px;
    height: 100%;
    margin-top: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    cursor: pointer;
}

.readlist-notification::after {
    @include themify($themes) {
        background-color: themed("primaryColor");
    }
    content: attr(data-readlist-blogs-number);
    position: absolute;
    right: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
}
.readlist-show-notification::after {
    animation: show-notification 300ms forwards;
}
@keyframes show-notification {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
.readlist-increase-notification::after {
    animation: increase-notification 300ms forwards;
}
@keyframes increase-notification {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
