@import "../../scss/themes";
@import "../../scss/values";

.blog-card {
    @include themify($themes) {
        background-color: themed("elementWrapperBg");
        color: themed("primaryTextColor");
    }

    position: relative;
    margin-top: 30px;
    padding: 25px;
    border: 1px solid transparent;
    border-radius: $borderRadius2;
    transition: border $transitionTime, opacity $transitionTime, background-color $transitionTime;
    overflow: hidden;
}
.blog-card:active {
    opacity: 0.8;
}

@media only screen and (hover: hover) {
    .blog-card:hover {
        @include themify($themes) {
            border: 1px solid rgba(themed("indicatorColor"), 0.5);
        }
    }

    .blog-card-footer > button:hover,
    .blog-card-top > button:hover {
        @include themify($themes) {
            background-color: rgba(themed("primaryColor"), 0.1);
        }
    }
}
.blog-card:focus-visible {
    @include themify($themes) {
        outline: 3px solid themed("primaryTextColor");
    }
}

.blog-card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    outline: none;
}

.blog-card-top {
    display: flex;
    justify-content: space-between;
}

.blog-card-header {
    font-size: $h2FontSizeLarge;
    margin-top: 30px;
}
.blog-card-user {
    font-size: $secondaryFontSizeLarge;
    margin-top: 10px;
}
.blog-card-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    position: relative;
    bottom: -20px;
    left: -25px;
    width: calc(100% + 50px);
}

.active-button {
    @include themify($themes) {
        background-color: themed("primaryColor") !important;
        color: themed("secondaryTextColor") !important;
    }
}
.blog-card-top > button {
    all: unset;
    padding: 0 5px;
    border-radius: $borderRadius2;
    transition: box-shadow $transitionTime;
    cursor: default;
    z-index: 999;
}
.blog-card-footer > button {
    all: unset;
    display: flex;
    padding: 5px 25px;
    border-radius: $borderRadius2;
    transition: background-color $transitionTime, box-shadow $transitionTime;
    cursor: default;
}
.blog-card button:active {
    @include themify($themes) {
        box-shadow: 0 0 3px 2px themed("primaryTextColor");
    }
}
.blog-card button > .icon {
    font-size: 22px;
}
.blog-card-footer > button > .counter {
    font-size: 16px;
    margin-left: 5px;
}

.category {
    @include themify($themes) {
        background-color: themed("elementWrapperBg");
    }

    font-size: 12px;
    display: inline-block;
    padding: 3px 6px;
    border-radius: $borderRadius2;
}

@media (max-width: 960px) {
    .blog-card {
        @include themify($themes) {
            border: themed("elementWrapperBorder");
            box-shadow: themed("elementWrapperBoxShadow");
        }
    }
}

@media (max-width: 480px) {
    .blog-card {
        padding: 20px;
    }
    .blog-card-header {
        font-size: $h2FontSizeMedium;
    }
    .blog-card-user {
        font-size: $secondaryFontSizeMedium;
    }
    .blog-card-footer > button {
        padding: 3px 15px;
    }
}
