@import "../../scss/themes";
@import "../../scss/sizes";

h1.blog-list-header {
    font-size: $h1FontSizeLarge;
}

.blog-list-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 170px 30px 70px 30px;
}

.new-blog {
    @include themify($themes) {
        background-color: themed("elementWrapperBg");
        border: 3px solid themed("primaryColor");
        color: themed("primaryTextColor");
    }

    display: flex;
    font-size: $primaryFontSizeLarge;
    padding: 10px;
    border-radius: $borderRadius2;
    transition: box-shadow $transitionTime, border $transitionTime;
    cursor: default;
}

.new-blog > .icon {
    font-size: calc($primaryFontSizeLarge + 6px);
}
.new-blog > .message {
    margin-left: 10px;
}

button[type="submit"] {
    @include themify($themes) {
        background-color: themed("primaryColor");
        color: themed("secondaryTextColor");
    }
    width: 100%;
    height: 35px;
    border: none;
    border-radius: $borderRadius2;
    font-size: $primaryFontSizeLarge;
    outline: none;
    transition: box-shadow $transitionTime;
}

@media only screen and (hover: hover) {
    .new-blog:hover {
        @include themify($themes) {
            box-shadow: 0 0 3px 2px themed("primaryColor");
        }
    }
    button[type="submit"]:hover {
        @include themify($themes) {
            box-shadow: 0 0 3px 2px themed("primaryColor");
        }
    }
}
button[type="submit"]:active {
    @include themify($themes) {
        box-shadow: 0 0 3px 2px themed("secondaryTextColor");
    }
}
button[type="submit"]:focus-visible {
    @include themify($themes) {
        background-color: themed("contextColor");
        color: themed("primaryTextColor");
    }
}

.new-blog:active {
    @include themify($themes) {
        border: 3px solid themed("secondaryTextColor");
        box-shadow: 0 0 3px 2px themed("secondaryTextColor");
    }
}

@media only screen and (min-width: 961px) {
    .blog-list-wrapper {
        @include themify($themes) {
            box-shadow: themed("elementWrapperBoxShadow");
        }
    }
}

@media only screen and (max-width: 960px) {
    .blog-list-wrapper {
        padding: 170px 0 70px 0;
    }
}

@media only screen and (max-width: 480px) {
    .new-blog {
        font-size: $primaryFontSizeMedium;
    }
    .new-blog > .icon {
        font-size: $primaryFontSizeLarge;
    }
}

@media only screen and (max-height: 480px) {
    .blog-list-wrapper {
        align-content: flex-start;
    }
}
