@import "../../scss/themes";
@import "../../scss/values";

h1.blog-list-header {
    font-size: $h1FontSizeLarge;
}

.blog-list-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 170px 30px 70px 30px;
}

.new-blog {
    @include themify($themes) {
        background-color: themed("elementWrapperBg");
        border: 3px solid themed("primaryColor");
        color: themed("primaryTextColor");
    }

    display: flex;
    font-size: $primaryFontSizeLarge;
    padding: 10px;
    border-radius: $borderRadius2;
    transition: box-shadow $transitionTime, border $transitionTime;
    cursor: default;
}

.new-blog > .icon {
    font-size: calc($primaryFontSizeLarge + 6px);
}
.new-blog > .message {
    margin-left: 10px;
}

.new-blog-submit-button {
    @include themify($themes) {
        background-color: themed("primaryColor");
        color: themed("secondaryTextColor");
    }
    width: 100%;
    height: 35px;
    border: none;
    border-radius: $borderRadius2;
    font-size: $primaryFontSizeLarge;
    outline: none;
    transition: box-shadow $transitionTime;
}

.comment-wrapper {
    padding-bottom: 25px;
}
.comment-timestamp {
    opacity: 0.7;
    padding-bottom: 5px;
    font-size: $secondaryFontSizeMedium;
}
.comment-body {
    font-size: $primaryFontSizeLarge;
}
.comments-modal-user {
    margin-bottom: 10px;
}
.comment-buttons-wrapper {
    display: flex;
    justify-content: flex-end;
}
.comment-button {
    all: unset;
    padding: 5px 25px;
    border-radius: $borderRadius2;
    transition: background-color $transitionTime, box-shadow $transitionTime;
    cursor: default;
}
.comment-button:active {
    @include themify($themes) {
        box-shadow: 0 0 3px 2px themed("primaryTextColor");
    }
}
.disabled-submit-comment-button {
    opacity: 0.5;
    pointer-events: none;
}

.input-wrapper:has(input[id="comment"]) .input-error {
    height: 0;
}

.all-comments-text {
    margin:10px 0 10px 0;
    font-size: $primaryFontSizeLarge;
    font-weight: 900;
}
.comments-hr {
    @include themify($themes) {
        background-color: themed("indicatorColor");
    }
    height: 1px;
    width: 100%;
    margin-bottom: 10px;
}

@media only screen and (hover: hover) {
    .new-blog:hover {
        @include themify($themes) {
            box-shadow: 0 0 3px 2px themed("primaryColor");
        }
    }
    .new-blog-submit-button:hover {
        @include themify($themes) {
            box-shadow: 0 0 3px 2px themed("primaryColor");
        }
    }
    .comment-button:hover {
        @include themify($themes) {
            background-color: rgba(themed("primaryColor"), 0.1);
        }
    }
}
button[type="submit"]:active {
    @include themify($themes) {
        box-shadow: 0 0 3px 2px themed("secondaryTextColor");
    }
}
button[type="submit"]:focus-visible {
    @include themify($themes) {
        background-color: themed("contextColor");
        color: themed("primaryTextColor");
    }
}

.new-blog:active {
    @include themify($themes) {
        border: 3px solid themed("secondaryTextColor");
        box-shadow: 0 0 3px 2px themed("secondaryTextColor");
    }
}

@media only screen and (min-width: 961px) {
    .blog-list-wrapper {
        @include themify($themes) {
            box-shadow: themed("elementWrapperBoxShadow");
        }
    }
}

@media only screen and (max-width: 960px) {
    .blog-list-wrapper {
        padding: 170px 0 70px 0;
    }
}

@media only screen and (max-width: 480px) {
    .new-blog {
        font-size: $primaryFontSizeMedium;
    }
    .new-blog > .icon {
        font-size: $primaryFontSizeLarge;
    }
}
