$lightPrimaryColor: #1279d4;
//$lightSecondaryColor: 
$lightContextColor: #fff;
$lightPrimaryTextColor: #333;
$lightSecondaryTextColor: #fff;
$lightGlassBg: rgba(255, 255, 255, 0.25);
$lightGlassBoxShadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
$lightGlassBorder: 1px solid rgba(255, 255, 255, 1);
$lightElementWrapperBg: rgba(255, 255, 255, 0.5);
$lightElementWrapperBoxShadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
$lightElementWrapperBorder: 1px solid rgba(255, 255, 255, 1);

$darkPrimaryColor: #9d2f6f;
$darkContextColor: #000;
$darkPrimaryTextColor: #fff;
$darkSecondaryTextColor: #fff;
$darkGlassBg: rgba(0, 0, 0, 0.25);
$darkGlassBoxShadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
$darkGlassBorder: 1px solid rgba(0, 0, 0, 1);
$darkElementWrapperBg: rgba(0, 0, 0, 0.7);
$darkElementWrapperBoxShadow: rgba(0, 0, 0, 0.7) 0px 3px 8px;
$darkElementWrapperBorder: 1px solid rgba(0, 0, 0, 1);

$verdantPrimaryColor: #10ce1d;
$verdantContextColor: #000;
$verdantPrimaryTextColor: #fff;
$verdantSecondaryTextColor: #fff;
$verdantGlassBg: rgba(0, 100, 0, 0.25);
$verdantGlassBoxShadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
$verdantGlassBorder: 1px solid rgba(0, 255, 0, 0.35);
$verdantElementWrapperBg: rgba(0, 50, 0, 0.7);
$verdantElementWrapperBoxShadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$verdantElementWrapperBorder: 1px solid rgba(0, 255, 0, 0.3);

$errorColor: #ff0000;
