$containerWidthLarge: 500px;
$containerWidthSmall: 95%;

$logoTextFontSizeLarge: 32px;
$logoTextFontSizeMedium: 24px;

$h1FontSizeLarge: 48px;
$h1FontSizeMedium: 32px;
$h1FontSizeSmall: 26px;

$h2FontSizeLarge: 24px;
$h2FontSizeMedium: 22px;
$h2FontSizeSmall: 20px;

$primaryFontSizeLarge: 18px;
$primaryFontSizeMedium: 16px;

$secondaryFontSizeLarge: 16px;
$secondaryFontSizeMedium: 14px;

$borderRadius1: 70px;
$borderRadius2: 30px;
$blurValue: 30px;
$elementBoxShadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
$glassWrapperMargin: 25px;

$transitionTime: 250ms;

$inputPadding: 15px;

$loaderSize: 30px;
