$containerWidthLarge: 500px;
$containerWidthSmall: 95%;

$h1FontSize: 48px;
$h2FontSize: 24px;
$primaryFontSize: 18px;
$secondaryFontSize: 16px;

$borderRadius1: 70px;
$borderRadius2: 30px;
$blurValue: 30px;
$elementBoxShadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
$glassWrapperMargin: 25px;

$transitionTime: 250ms;

$inputPadding: 15px;

$loaderSize: 30px;